:root {
  --primary: #b89b6b;
  --primary-dark: #9a7f52;
  --bg-main: #f4efe7;
  --bg-card: #ffffff;
  --text-dark: #2c2c2c;
  --text-light: #666;
  --border: #e0d6c5;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-main);
  color: var(--text-dark);
}